.container {

    .page-header {

      .navbar {
        background-color: $accent-color;
        color: $white;

        .navbar-brand {
          color: $white;
        }

        .nav {
          li {
            a {
              color: $white;

              &:active,
              &:focus,
              &:visited {
                background-color: $accent-color-b;
              }
              &:hover {
                background-color: $accent-color;
                color: $off-white;
              }
            }
          }
        }
      }

    }

    .panel {
      .panel-heading {
        background-color: $accent-color;
        color: $white;

        .btn-primary {
          border-color: $white;
        }
      }
    }
    .badge.btn-info {
      background-color: $accent-color;
      border-color: $accent-color;
    }
}
.btn-primary,
.btn-primary[disabled] {
    background-color: $accent-color;
    border-color: $accent-color;

    &:hover,
    &:focus {
       background-color: $accent-color-b;
       border-color: $accent-color-b;
    }
}

.typeahead .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;

  & > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  & > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

