<!-- Side Panel -->
<div class="col-md-5">
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Add a new site! <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>
                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="siteName">Site name <span class="badge btn-danger">All fields required</span></label>
                    <input type="text" class="form-control" id="siteName" placeholder="Cashtal Yn Ard" ng-model="formData.siteName" required>
                </div>
                <div class="form-group">
                    <label for="dateVisited">Date visited</label>
                    <input type="text" class="form-control" id="dateVistied" placeholder="" ng-model="formData.dateVisited" data-date-format="yyyy-MM-dd" data-animation="am-flip-x" data-min-date="2014/10/01" data-max-date="today" autocomplete="off" bs-datepicker required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="siteDesc" placeholder="Describe the site with as much info as possible..." ng-model="formData.siteDesc" required></textarea>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude">
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude">
                </div>
                <div class="form-group">
                    <label for="verified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                </div>
                <div class="form-group">
                    <div flow-init="{target: '/upload'}"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="$file.msg = $message">
                        <div class="btn-group" role="group">
                            <span class="btn btn-primary btn-sm glyphicon glyphicon-cloud-upload
" flow-btn>
                                Upload file
                                <input type="file" style="visibility: hidden; position: absolute;"/>
                            </span>
                            <span class="btn btn-primary btn-sm glyphicon glyphicon-cloud-upload
" flow-btn flow-directory>
                                Upload directory
                                <input type="file" flow-directory style="visibility: hidden; position: absolute;"/>
                            </span>
<!--                             <span class="btn btn-success btn-sm glyphicon glyphicon-cloud-upload" flow-btn>
                            Upload File
                            </span> -->
                        </div>

                          <table class="table">
                            <legend>Files to upload</legend>
                            <tr ng-repeat="file in $flow.files">
                                <td>{{$index+1}}</td>
                                <td>{{file.name}}</td>
                                <td>{{file.msg}}</td>
                                <td><img flow-img="$flow.files[0]" width="40" /></td>
                            </tr>
                          </table>

                    </div>
                </div>
                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="createSite()" ng-disabled="addForm.$invalid">Submit</button>
                    <button type="reset" class="btn btn-muted btn-sm" ng-click="resetForm()" ng-disabled="addForm.$pristine">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>