<!-- Side Panel -->
<div class="col-md-5">
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Edit a site! <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name="editForm" novalidate>
<!--                 <div class="form-group">
                    <label for="siteSearch">Site name</label>
                    <input type="text" class="form-control" id="siteSearch" placeholder="Start typing the site name..." ng-model="editFormData.siteName" ng-change="autoComplete(editFormData.siteName)" data-provide="typeahead" autocomplete="off">
                </div> -->
                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="siteName">Site name <span class="badge btn-info">All fields required</span></label>
                    <!-- <input type="text" class="form-control" id="siteName" placeholder="Enter the site to edit..." ng-model="formData.siteName" ng-blur="getSite(formData.siteName)" value="formData.siteName" required> -->
                    <!-- <pre>Model: {{formData | json}}</pre> -->
                    <input type="text" ng-model="formData.siteName" id="siteName" placeholder="Start typing the site name" bs-options="siteNames for siteNames in typeAhead($viewValue)" data-animation="am-flip-x" class="form-control" autocomplete="off" ng-blur="getSite(formData.siteName)" bs-typeahead>
<!--                         <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <p><i class="glyphicon glyphicon-remove"></i> No Results Found</p>
                            <dl>
                                <dt>Sites:</dt>
                                <dd ng-repeat="siteName in searchData"><pre>{{siteName.siteName}}</b></dd>
                            </dl>
                        </div> -->
                </div>
                <div class="form-group">
                    <label for="dateVisited">Date visited</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="dateVistied" placeholder="" ng-model="formData.dateVisited" data-animation="am-flip-x" value="formData.dateVisited" bs-datepicker>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="siteDesc" placeholder="Fortran" ng-model="formData.siteDesc" value="formData.siteDesc" style="height: 270px;"></textarea>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" value="formData.latitude">
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" value="formData.longitude">
                </div>
                <div class="form-group">
                    <label for="verified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="htmlverified" placeholder="" ng-model="formData.htmlverified" value="formData.htmlverified" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="editSite()" ng-disabled="editForm.$invalid">Submit</button>
                    <button type="reset" class="btn btn-muted btn-sm" ng-click="resetForm()" ng-disabled="editForm.$pristine">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>